{% extends 'booking/ref.html'%}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-8 px-5" align="center">
                {% if calendar_type == 'month' %}
                    <div class="input-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="calendar_type" value="month" checked>
                            <label class="form-check-label">Месяц</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="calendar_type" value="year">
                            <label class="form-check-label">Год</label>
                        </div>
                    </div>
                    {% include 'booking/calendar_month.html'%}
                {% elif calendar_type == 'year' %}
                    <div class="input-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="calendar_type" value="month">
                            <label class="form-check-label">Месяц</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="calendar_type" value="year" checked>
                            <label class="form-check-label">Год</label>
                        </div>
                    </div>
                    {% include 'booking/calendar_year.html'%}
                    {% endif %}
                </div>
                {% include 'booking/booking_add_check.html'%}
            </div>
        </div>
    {% endif%}
{% endblock %}