{% load widget_tweaks %}

<div class="col card_inp" align="center" >
    <div class="row py-3 px-2">
        <h4 class="text-center text-uppercase">Бронирование</h4>
    </div>
    {% if messages %}
        {% if result == 'success' %}
            <p class="form-label ms-3" style="color: white;" >''<p>
            {% else %}
                <p class="form-label ms-3" style="color: red; font-weight: bold;" >
                    {% for message in messages%}
                        {{ message }}
                    {% endfor %}
                </p>
        {% endif %}
    {% else %}
        <p class="form-label ms-3" style="font-weight: bold;" >Введите данные</p>
    {% endif %}
    <form class="row g-3 mt-1 px-2" action="" method="POST" id="f1">
        {% csrf_token %}
        <input type="hidden" name="cal_year" value={{year}}>
        <input type="hidden" name="cal_month" value={{month}}>
        <input type="hidden" name="flat" value={{selected_flat.id_flat}}>
        <div class="col">
            <label class="form-label float-start">Начало периода</label>
            {% render_field form.start_date class="form-control" type="date" name="start_date" value=date%}
        </div>
        <div class="col">
            <label class="form-label float-start">Конец периода</label>
            {% render_field form.end_date class="form-control" type="date" name="end_date" value=date%}
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-pos float-end" form="f1" name="searchdates">Поиск</button>
        </div>
        {% if result == 'success' %}
        <div class="d-flex flex-row row-cols-2 bd mt-0">
            <label class="label float-start mt-2 me-4" type="text">Базовая цена, р.:</label>
            <input class="form-control-plaintext " type="text" value="{{tot_price}}" name="tot_price" readonly>
        </div>
         <div class="d-flex flex-row row-cols-2 bd mt-0">
            <label class="label float-start mt-2 me-4" type="text">Итоговая цена, р.:</label>
            <input class="form-control-plaintext " type="text" value="{{price}}" name="price" readonly>
        </div>
        <div class="d-flex flex-row row-cols-2 bd mt-0">
            <label class="label float-start mt-2 me-4" type="text">Скидка, %:</label>
            <input class="form-control-plaintext " type="text" value="{{discount}}" name="discount" readonly>
         </div>
        {% if notopen %}
            <div class="col">
                <button type="submit" class="btn btn-pos float-end" form="f1" name="makebooking">Забронировать</button>
            </div>
        {% endif %}
        {% endif %}
    </form>

</div>