<div class="col card_inp" align="center" >
    <form class="row py-3 px-2">
        <h4 class="text-center text-uppercase">Бронирование</h4>
    </form>
    <form class="row g-3 py-3 px-2">
        <div class="col">
            <label class="form-label float-start">Начало периода</label>
            <input type="text" class="form-control" placeholder='{{date}}'>
        </div>
        <div class="col">
            <label class="form-label float-start">Конец периода</label>
            <input type="text" class="form-control" placeholder='{{date}}'>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-pos float-end">Поиск</button>
        </div>
    </form>
    <form class="row g-3 px-2">
        <div class="col-5">
            <label class="label text-imp float-start">Скидка:</label>
        </div>
        <div class="col">
            <label class="label text-imp float-start">2%</label>
        </div>
    </form>
    <form class="row g-3 px-2">
        <div class="col-5">
            <label class="label text-imp float-start">Итоговая цена:</label>
        </div>
        <div class="col">
            <label class="label text-imp float-start">3000 р</label>
        </div>
    </form>
    <div class="row mt-5 mb-3 px-2">
        <h6 class="text-center text-uppercase">Данные арендатора</h6>
    </div>
    <form class="row g-3 px-2">
        <div class="col">
            <label class="form-label float-start">Имя</label>
            <input type="text" class="form-control"'>
        </div>
        <div class="col">
            <label class="form-label float-start">Телефон</label>
            <div class="input-group">
                <span class="input-group-text">+</span>
                <input type="text" class="form-control">
            </div>
        </div>
    </form>
    <form class="row g-3 py-3 px-2">
        <div class="col">
            <label class="form-label float-start">Комментарий</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
    <form class="row g-3 mt-3 px-2">
        <div class="col-6">
            <label class="form-label float-start">Откуда узнали</label>
        </div>
    </form>
    <form class="row g-3 px-2">
        <div class="col">
            <select class="form-select">
                <option selected>Яндекс Недв</option>
                <option value="1">Авито</option>
                <option value="2">Суточно</option>
                <option value="3">Рекомендация</option>
            </select>
<!--                        <input type="text" class="form-control" placeholder='Откуда узнали'>-->
        </div>
        <div class="col">
            <button type="submit" class="btn btn-pos float-end">Забронировать</button>
        </div>
    </form>
</div>