{% extends 'booking/ref.html'%}

{% block content %}
{% if user.is_authenticated %}
    <div class="container my-3">
        <form class="row" action="" method="POST" id="f0">
            {% csrf_token %}
            <h4 class="text-center text-uppercase">Cписок бронирований</h4>
            <input type="hidden" name="flat" value={{selected_flat.id_flat}}>
            <div class="d-flex flex-row mb-3 justify-content-end">
                <div class="col-auto">
                    <select class="form-select" name="sorttype">
                      <option value="0">По номеру бронирования</option>
                      <option value="1">По дате заезда</option>
                      <option value="2">По статусу</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-pos float-end" form="f0" name="sort">Отсортировать</button>
                </div>
            </div>
        </form>
        {% for book in book_list %}
            <div class="card card_inp my-4">
                <h5 class="card-header" style="border-radius: 1em 1em 0 0;">Бронирование №{{book.id_booking}}</h5>
                <div class="card-body bg-white" style="border-radius: 0 0 1em 1em;">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-3">
                                    <label class="label float-start">Период:</label>
                                </div>
                                <div class="col-6">
                                    <p class="label float-start mb-1" type="date">
                                        {{book.checkin_date|date:'d.m.Y'}} - {{book.checkout_date|date:'d.m.Y'}}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="label float-start">Имя:</label>
                                </div>
                                <div class="col-6">
                                    <p class="label float-start mb-1">{% for bt in book.tenant.all %}{{ bt.name }}{% endfor %}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="label float-start">Телефон:</label>
                                </div>
                                <div class="col-6">
                                    <p class="label float-start mb-1">{% for bt in book.tenant.all %}+{{ bt.phone }}{% endfor %}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="label float-start">Цена:</label>
                                </div>
                                <div class="col-6">
                                    <p class="label float-start mb-1">{{book.price}} р.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="label float-start">Статус:</label>
                                </div>
                                <div class="col-6">
                                    <p class="label float-start mb-1">{{book.id_status.name}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="label float-start">Скидка:</label>
                                </div>
                                <div class="col-6">
                                    <p class="label float-start mb-1">
                                        {% for key, value in disc_dict.items %}
                                            {% if key == book.id_booking %}
                                                {{value}} %
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-5">
                                    <label class="label float-start">Источник:</label>
                                </div>
                                <div class="col">
                                    <p class="label float-start mb-1">{{book.id_source.name}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <label class="label float-start">Дата бронирования:</label>
                                </div>
                                <div class="col">
                                    <p class="label float-start mb-1">{{book.booking_date|date:'d.m.Y'}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <label class="label float-start">Комментарий:</label>
                                </div>
                                <div class="col">
                                    <p class="card-text mb-1">{{book.comment|default_if_none:""}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 py-2">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a class="btn btn-pos me-md-2" type="button" href="{% url 'booking_edit' book.id_booking%}?flat={{selected_flat.id_flat}}">Редактировать</a>
                            <a class="btn btn-neg" type="button" href="{% url 'booking_delete' book.id_booking%}?flat={{selected_flat.id_flat}}">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </form>
{% endif %}
{% endblock %}