<div class="row py-2">
    <div class="btn-toolbar justify-content-center p-2" role="toolbar">
        <a class="btn" role="button" href="{% url 'home' %}"><<</a>
        <h4 class="text-center py-2">{{month}} {{year}}</h4>
        <a class="btn" role="button" href="{% url 'home' %}">>></a>
    </div>
</div>
<table class="table table-bordered text-center">
    <thead>
        <tr class="table-light">
            <th class="col-1">ПН</th>
            <th class="col-1">ВТ</th>
            <th class="col-1">СР</th>
            <th class="col-1">ЧТ</th>
            <th class="col-1">ПТ</th>
            <th class="col-1">СБ</th>
            <th class="col-1">ВС</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text py-5">1</td class="text py-5"><td class="text py-5">2</td>
            <td class="text py-5">3</td><td class="text py-5">4</td>
            <td class="text py-5">5</td><td class="text py-5">6</td><td class="text py-5">7</td>
        </tr>
        <tr>
            <td class="text py-5">1</td class="text py-5"><td class="text py-5">2</td>
            <td class="text py-5">3</td><td class="text py-5">4</td>
            <td class="text py-5">5</td><td class="text py-5">6</td><td class="text py-5">7</td>
        </tr>
        <tr>
            <td class="text py-5">1</td class="text py-5"><td class="text py-5">2</td>
            <td class="text py-5">3</td><td class="text py-5">4</td>
            <td class="text py-5">5</td><td class="text py-5">6</td><td class="text py-5">7</td>
        </tr>
        <tr>
            <td class="text py-5">1</td class="text py-5"><td class="text py-5">2</td>
            <td class="text py-5">3</td><td class="text py-5">4</td>
            <td class="text py-5">5</td><td class="text py-5">6</td><td class="text py-5">7</td>
        </tr>
        <tr>
            <td class="text py-5">1</td class="text py-5"><td class="text py-5">2</td>
            <td class="text py-5">3</td><td class="text py-5">4</td>
            <td class="text py-5">5</td><td class="text py-5">6</td><td class="text py-5">7</td>
        </tr>
    </tbody>
</table>

