<div class="row py-2">
    <div class="btn-toolbar justify-content-center p-2" role="toolbar">
        <button type="submit" class="btn btn-sw" name="prevmonth" form="f1"><<</button>
        <h4 class="text-center mb-0">{{month_name}} {{year}}</h4>
        <button type="submit" class="btn btn-sw" name="nextmonth" form="f1">>></button>
    </div>
</div>
<table class="table table-bordered text-center">
    <thead>
        <tr class="table-light">
            <th class="col-1" style="font-color: #528B8B">ПН</th>
            <th class="col-1">ВТ</th>
            <th class="col-1">СР</th>
            <th class="col-1">ЧТ</th>
            <th class="col-1">ПТ</th>
            <th class="col-1">СБ</th>
            <th class="col-1">ВС</th>
        </tr>
    </thead>
    <tbody>
        {% for week in calendar%}
            <tr>
                {% for day, status in week.items %}
                <td class="text py-0 px-0">
                    {% if status == 2 or day.is_available == 0 %}
                        <div class="card-fluid" style="background-color: #CFCFCF;">
                    {% elif status == 0 %}
                        <div class="card-fluid" style="background-color: #e38aa6a6;">
                    {% elif status == 1 %}
                        <div class="card-fluid" style="background-color: #c6f5e8;">
                    {% endif %}
                        <div class="card-body-fluid">
                            <p style="font-size: 28px;">{{day.date|date:'d'}}</p>
                            <h7>{{day.base_price}} р.</h7></br>
                            <h7>{{day.min_nights_amount}} ночи</h7>
                        </div>
                    </div>
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

