<div class="col card_inp" align="center" >
    <form class="row py-3">
        <h4 class="text-center text-uppercase">Редактирование</h4>
    </form>
    <form class="row g-3 py-3 px-2">
        <div class="col">
            <label class="form-label float-start">Начало периода</label>
            <input type="text" class="form-control" placeholder='{{date}}'>
        </div>
        <div class="col">
            <label class="form-label float-start">Конец периода</label>
            <input type="text" class="form-control" placeholder='{{date}}'>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-neg float-end">Закрыть даты</button>
        </div>
    </form>
    <form class="row g-3 py-3 px-2">
        <div class="col">
            <label class="form-label">Цена за сутки</label>
        </div>
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-text">Р</span>
            </div>
        </div>
    </form>
    <form class="row g-3 py-3 px-2">
        <div class="col">
            <label class="form-label">Минимальное количество суток</label>
        </div>
        <div class="col py-2">
            <input type="text" class="form-control">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-pos float-end">Применить</button>
        </div>
    </form>
</div>
