{% load widget_tweaks %}
{% if user.is_authenticated %}
    <div class="col card_inp" align="center" >
        <form class="row py-3" action="" method="POST">
            <h4 class="text-center text-uppercase">Редактирование</h4>
        </form>
        <form class="row g-3 py-3 px-2" id="f1" action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="flat" value={{selected_flat.id_flat}}>
            <div class="col">
                <label class="form-label float-start">Начало периода</label>
                {% render_field form.start_date class="form-control" type="date" name="start_date" %}
            </div>
            <div class="col">
                <label class="form-label float-start">Конец периода</label>
                {% render_field form.end_date class="form-control" type="date" name="end_date" %}
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-neg float-end" form="f1" name="closedates">Закрыть даты</button>
            </div>
            <div class="col-12 mb-3">
                <button type="submit" class="btn btn-neg float-end" form="f1" name="opendates">Открыть даты</button>
            </div>
            <div class="row g-3 px-2">
                <div class="col mt-3">
                    <label class="form-label">Цена за сутки</label>
                </div>
                <div class="col">
                    <div class="input-group">
                        {% render_field form.price class="form-control" type="number" name="base_price"%}
                        <span class="input-group-text">Р</span>
                    </div>
                </div>
            </div>
            <div class="row g-3 px-2">
                <div class="col">
                    <label class="form-label">Минимальное количество суток</label>
                </div>
                <div class="col py-2">
                    {% render_field form.nights_amount class="form-control" type="number" name="nights_amount"%}
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-pos float-end" name="setparams" form="f1">Применить</button>
                </div>
            </div>
        </form>
        <br>
        <br>
        {% if messages %}
            <p class="form-label ms-3" style="color: red; font-weight: bold;" >
                {% for message in messages%}
                    {{ message }}
                {% endfor %}
            </p>
        {% endif %}
    </div>
{% endif %}
