<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Flat Rent</a>
        <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <button class="btn btn-secondary dropdown-toggle bg-light text-dark"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                      Объект
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Объект 1</a></li>
                        <li><a class="dropdown-item" href="#">Объект 2</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Добавить объект</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'calendar' %}">Календарь</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Бронирование
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Добавить</a></li>
                        <li><a class="dropdown-item" href="#">Список</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Статистика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Настройки</a>
                </li>
            </ul>
            <ul class="d-flex mb-0">
                <ul class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light p-1" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false"> Профиль
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Редактировать</a></li>
                        <li><a class="dropdown-item" href="#">Выйти</a></li>
                    </ul>
                </ul>
            </ul>
        </div>
    </div>
</nav>