<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Flat Rent</a>
        <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <select class="form-select" name="dropdown">
                    <option selected>Объект 1</option>
                    <option value="1">Объект 2</option>
                    <option value="2">Объект 3</option>
                    <option value="3">Объект 4</option>
                </select>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'calendar_month' %}">Календарь</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Бронирование
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'booking_month_check' %}">Добавить</a></li>
                        <li><a class="dropdown-item" href="{% url 'booking_list' %}">Список</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'statistics' %}">Статистика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'settings'%}">Настройки</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="d-flex mb-0">
                    <ul class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-1 text-prof" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false"> Профиль
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                            <li><a class="dropdown-item" href="{% url 'profile_edit' %}">Редактировать</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                        </ul>
                    </ul>
                </ul>
            {% else %}
                <ul class="d-flex mb-0">
                    <ul class="nav-item">
                        <a class="nav-link p-1 text-prof" role="button"
                           aria-expanded="false" href="{% url 'login' %}"> Войти</a>
                    </ul>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>