{% extends 'booking/ref.html'%}
{% load widget_tweaks %}
{% block content %}
{% if user.is_authenticated %}

    <div class="container my-3">
            <div class="row">
                <h4 class="text-center text-uppercase">Редактирование объекта</h4>
            </div>
            <div class="card card_inp my-4">
                <h5 class="card-header" style="border-radius: 1em 1em 0 0;">Объект</h5>
                <div class="card-body bg-white" style="border-radius: 0 0 1em 1em;">
                    <form class="row px-2" action="" method="POST" id="f0">
                        {% csrf_token %}
                        <input type="hidden" name="flat" value={{selected_flat.id_flat}}>
                        <div class="row g-3 ms-1 mt-1">
                            <div class="col-6">
                                <div class="row g-3 ms-1 mt-1">
                                    <label class="label float-start mt-2 me-4" type="text">Название</label>
                                    {% render_field form.name class="form-control" type="text" name="name" %}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row g-3 ms-1 mt-1">
                                    <label class="label float-start mt-2 me-4" type="text">Адрес</label>
                                    {% render_field form.address class="form-control" type="text" name="address" %}
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 ms-1 mt-1">
                            <div class="col-6">
                                <div class="row g-3 ms-1 mt-1">
                                    <label class="label float-start mt-2 me-4" type="text">Комментарий</label>
                                    {% render_field form.comment class="form-control" type="text" name="comment" %}
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 ms-1 mt-1">
                            <div class="col-6 justify-content-center">
                                <div class="row g-3 ms-1 mt-1">
                                    <div class="card card_inp my-4 px-0">
                                        <h7 class="card-header" style="border-radius: 1em 1em 0 0;">Скидки</h7>
                                        <div class="card-body bg-white" style="border-radius: 0 0 1em 1em;">
                                            <form class="form-control" action="" method="POST" id="f1">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="label mt-2 me-4" type="text">Количество ночей</label>
                                                    </div>
                                                    <div class="col">
                                                        <label class="label mt-2 me-4" type="text">Скидка, %</label>
                                                    </div>
                                                </div>
                                                {% for f in form1 %}
                                                    <div class="row">
                                                        {% for field in f %}
                                                        <div class="col-6 mt-1">
                                                            {% render_field field class="form-control"%}
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endfor %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row g-3 ms-1 mt-1">
                                    <div class="card card_inp my-4 px-0">
                                        <h7 class="card-header" style="border-radius: 1em 1em 0 0;">Источники</h7>
                                        <div class="card-body bg-white" style="border-radius: 0 0 1em 1em;">
                                            <form class="form-control" action="" method="POST" id="f2">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <label class="label mt-2 me-4" type="text" style="color: white;">Источники</label>
                                                </div>
                                                {% for f2 in form2 %}
                                                    <div class="row mt-2 px-2">
                                                        {% for field2 in f2 %}
                                                            {% render_field field2 class="form-control"%}
                                                        {% endfor %}
                                                    </div>
                                                {% endfor %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 py-2">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-pos me-md-2" type="submit" name="save" form="f0">Сохранить</button>
                                <a class="btn btn-neg" type="submit" name="cancel" href="{% url 'settings' %}?flat={{selected_flat.id_flat}}">Отменить</a>
                            </div>
                            {% if messages %}
                            <h6 class="form-label ms-3" style="color: red; font-weight: bold;" >
                                {% for message in messages%}
                                    <br>
                                    {{ message }}
                                {% endfor %}
                            </h6>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif%}
{% endblock %}