{% extends 'booking/ref.html'%}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
    <div class="container my-3">
        <form class="row">
            <h4 class="text-center text-uppercase">Настройки объектов</h4>
        </form>
        <div class="d-grid gap-2 d-md-flex justify-content-end">
            <a class="btn image-button" href="{% url 'settings_add' %}?flat={{selected_flat.id_flat}}">
            <img src="{% static 'booking/plus.png' %}" alt="Image">
            <span>Добавить</span>
            </a>
        </div>
        {% for flat in flat_list_tot %}
            <div class="card my-4 card_inp">
                <h5 class="card-header">{{flat.name}}</h5>
                <div class="card-body bg-white" style="border-radius: 0 0 1em 1em;">
                    <div class="row">
                        <div class="col-9">
                            <div class="row">
                                <div class="col-3">
                                    <label class="label float-start">Адрес:</label>
                                </div>
                                <div class="col">
                                    <p class="label float-start ms-3 mb-1">{{flat.address}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="label float-start">Добавлен:</label>
                                </div>
                                <div class="col">
                                    <p class="label float-start ms-3 mb-1">{{flat.add_date|date:'d.m.Y'}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="label float-start">Отредактирован:</label>
                                </div>
                                <div class="col">
                                    <p class="label float-start ms-3 mb-1">{{flat.edit_date|date:'d.m.Y'}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="label float-start">Ссылка для сайтов:</label>
                                </div>
                                <div class="col">
                                    <p class="label float-start ms-3 mb-1">{{site_link}}{{flat.link_sites}}.ics</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="label float-start">Ссылка для арендаторов:</label>
                                </div>
                                <div class="col">
                                    <p class="label float-start ms-3 mb-1">{{open_link}}{{flat.link_tenants}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="label float-start">Комментарий:</label>
                                </div>
                                <div class="col">
                                    <p class="card-text ms-3 mb-1">{{flat.comment|default_if_none:""}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3">
                                    <label class="label float-start">Источники:</label>
                                </div>
                                <div class="col">
                                    <ul>
                                        {% for site in flat.source.all %}
                                        <li>{{ site.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="label float-start">Скидки:</label>
                                </div>
                                <div class="col">
                                    <ul>
                                        {% for disc in flat.discount.all %}
                                            <li>{{ disc.nights_amount }} дней - {{ disc.discount }} %</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 py-2">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end py-0">
                            <a class="btn btn-pos me-md-2" type="button" href="{% url 'settings_edit' flat.id_flat%}?flat={{selected_flat.id_flat}}">Редактировать</a>
                            <a class="btn btn-neg" type="button" href="{% url 'settings_delete' flat.id_flat%}?flat={{selected_flat.id_flat}}">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}