{% extends 'booking/ref.html'%}
{% block content %}
{% if user.is_authenticated %}

        <div class="btn-toolbar justify-content-center p-2" role="toolbar">
            <button type="submit" class="btn btn-sw" name="prevyear" form="f1"><<</button>
            <h4 class="text-center py-2">{{year}}</h4>
            <button type="submit" class="btn btn-sw" name="nextyear" form="f1">>></button>
        </div>
        <form class="row g-3 py-3 px-2" action="" method="POST" id="f1">
            {% csrf_token %}
            <input type="hidden" name="year" value={{year}}>
        </form>
        <div class="container my-1">
            <div class="row row-cols-lg-2">
                <div class="col">
                    <div class="card" style="border: None;">
                        <div class="card-body py-0">
                            <div style="width:1000; height:100; py: 0">
                                {{ graph_div_income|safe }}
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col">
                    <div class="card" style="border: None;">
                        <div class="card-body py-0">
                            <div style="width:1000;height:100">
                                {{ graph_div_avprice|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-lg-2">
                 <div class="col">
                    <div class="card" style="border: None;">
                        <div class="card-body py-0">
                            <div style="width:1000;height:100">
                                {{ graph_div_load|safe }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="border: None;">
                        <div class="card-body py-0">
                            <div style="width:1000;height:100">
                                {{ graph_div_booknumber|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-lg-2">
                 <div class="col">
                    <div class="card" style="border: None;">
                        <div class="card-body py-0">
                            <div style="width:1000;height:100">
                                {{ graph_div_avperiod|safe }}
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col">
                    <div class="card" style="border: None;">
                        <div class="card-body py-0">
                            <div style="width:1000;height:100">
                                {{ graph_div_source|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}